.sparkline {
    display: none;
    width: 60px;
}

table {
    border-collapse: collapse;
}

tr > td {
    border-style: solid;
    border-color: transparent;
    padding: 0 0.5em;
}
tr[data-favorite='true'] > td {
    border-color: #eee;
    background-color: #eee;
}

.moscorePercent {
    text-align: right;
    border-color: #eee;
}
.percent {
    text-align: right;
}

/* For moscoreNotes.js */
.smallerIcon {
    font-size:0.8em;
}

.input {
    /*margin-top: 5px;*/
    max-width: 100px;
    margin-left: .25em;
}
.input:active,
.input:focus {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    margin-top: 5px;
    padding: 0 3px;

    font-size: 0.9em;
    max-width: 98px;
}
.notes {
    color:#999;

}
/* For moscoreNotes.js */